a:link {
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: unset;
}

a:visited {
    color: black;
}

a:hover {
    color: slategray;
}


a:active {
    color: slategray;
}